---
layout: default
title: Category Archive
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts

---


{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/categories/{{ page.category|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.category }}' category feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ page.title }} "{{ page.category }}"{% endblock %}
{% block content %}
{% set year = '0' %}

<div class="mw7 center mb5 ph3 pt4">
  <div class="db mb3">
    <div class="mw7 relative bg-fix-primary mb3">
      <h2 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">{{ page.category }}</h2>
    </div>
    <div class="mw7 relative bg-fix-primary">
    </div>
  </div>
  {% for post in page.pagination.items %}
  {% set this_year %}{{ post.date | date("Y") }}{% endset %}
  {% if year != this_year %}
  {% set month = '0' %}
  {% set year = this_year %}
  {% endif %}
  {% set this_month %}{{ post.date | date("F") }}{% endset %}
  {% if month != this_month %}
  {% set month = this_month %}
  <h3 class="f4 b lh-title mb2 mt4 primary">{{ month }} {{ year }}</h3>
  {% endif %}
  <article class="mt1">
    <div class="mb1"><a href="{{ site.url }}{{ post.url }}" class="link">{{ post.title }}</a></div>
  </article>
  {% endfor %}

  <div>
    {% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="prevnext mt5 mb4">
      {% if page.pagination.previous_page %}
      <h5 class="prevnext_left"><a class="no-underline" rel="prev" href="{{ site.url }}{{ page.pagination.previous_page.url }}"><span class="prevnext_left_title">← Previous Page</span></a></h5>
      {% endif %}
      {% if page.pagination.next_page %}
      <h5 class="prevnext_right tr"><a class="no-underline" rel="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="prevnext_right_title">Next Page →</span></a></h5>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</div>
{% endblock content %}
