.b--primary {
  border-color: $primary;
}

.b--highlight {
  border-color: $highlight;
}

.b--white {
  border-color: $white;
}

.b--off-white {
  border-color: $off-white;
}

.b--grey-1 {
  border-color: $grey-1;
}

.b--grey-2 {
  border-color: $grey-2;
}

.b--grey-3 {
  border-color: $grey-3;
}

.b--grey-4 {
  border-color: $grey-4;
}

.b--black {
  border-color: $black;
}
