$responsive-nav-hit-area:         44px;
$responsive-nav-icon-size:        16px;
$responsive-nav-color:            #fff;
$responsive-nav-breakpoint:       33.75em;

// NAV WRAPPER
// ===========
//
// <nav> element that wraps our navigation.
//
// [1] Make sure we can’t actually see the absolutely positioned dropdown.

.responsive-nav {

  position: relative;
  // max-width: 20em;
  overflow: hidden; // [1]
  display: block;

  @media (min-width: $responsive-nav-breakpoint) {
    display: flex;
  }

}

// Class added via JS when toggled open
.responsive-nav_open {
  overflow: visible; // allow dropdown to be seen
}


//  NAV LIST

.responsive-nav_list {
  // Hide nav by default only when JS is running and viewport is less than
  // navigation breakpoint.
  // The wrapper has 'overflow: hidden;' which hides it.

  @media (max-width: $responsive-nav-breakpoint) {
    .js & {
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      background-color: $black;
    }
  }

  // Remove background
  @media (min-width: $responsive-nav-breakpoint) {
    background: none;
  }

}

// NAV LIST ITEMS

.responsive-nav_list li {

  border-top: 1px solid #000;

  // Change from stacked to display in a row
  @media (min-width: $responsive-nav-breakpoint) {
    display: inline-block;
    border-top: none; // separator no longer needed
  }

}

// NAV LINKS
//
// [1] Ensure that the link text lines up with the hamburger.
// [2] Ensure that the link text is the same height as the trigger.


// Reusable silent class so we can share styles with the toggle
%responsive-nav_link {
  color: $white;
  display: block;
  white-space: nowrap;
  padding-right: ($responsive-nav-hit-area - $responsive-nav-icon-size) / 2; // [1]
  padding-left:  ($responsive-nav-hit-area - $responsive-nav-icon-size) / 2; // [1]
  line-height: $responsive-nav-hit-area; // [2]
}

.responsive-nav_list li > a {

  @media (max-width: $responsive-nav-breakpoint) {
    color: $responsive-nav-color;
    display: block;
    white-space: nowrap;
    padding-right: ($responsive-nav-hit-area - $responsive-nav-icon-size) / 2; // [1]
    padding-left:  ($responsive-nav-hit-area - $responsive-nav-icon-size) / 2; // [1]
    line-height: $responsive-nav-hit-area; // [2]
  }

}

.responsive-nav_list .nav_current > a {
  @media (max-width: $responsive-nav-breakpoint) {
    background-color: $primary;
  }
}

// TOGGLE BUTTON

// <a> element inserted via JavaScript which toggles the nav.
//
// [1] Match the navigation link styles.
// [2] So toggle button width is at least the hit-area size, but can grow.


.responsive-nav_toggle {

  @extend %responsive-nav_link; // [1]

  float: right;
  margin-top: .5em;
  margin-right: .5em;
  background: $primary;
  min-width: $responsive-nav-hit-area; // [2]
  min-height: $responsive-nav-hit-area; // [2]
  border-radius: .25rem;
  box-sizing: border-box;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12'%3E%3Crect fill='white' width='16' height='2'/%3E%3Crect fill='white' y='5' width='16' height='2'/%3E%3Crect fill='white' y='10' width='16' height='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;

  // Content for toggle button
  // &:before {
  //   content: "";
  //   font-size: $responsive-nav-icon-size;
  //   line-height: 1;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12'%3E%3Crect fill='white' width='16' height='2'/%3E%3Crect fill='white' y='5' width='16' height='2'/%3E%3Crect fill='white' y='10' width='16' height='2'/%3E%3C/svg%3E%0A");
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   width: 16px;
  //   height: $responsive-nav-hit-area; // [2];
  //   display: block;
  // }

  // &:hover {
  //   text-decoration: none;
  // }

  .icon-close {
    opacity: 0;
    transition: opacity .3s ease-in;
  }
  // Menu open styles
  .responsive-nav_open & {

    // Change hamburger icon to a close icon
    // &:before {
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 12 12'%3E%3Cpath fill='white' d='M1.562,0.046l4.336,4.426l4.336-4.426l1.461,1.506L7.381,5.955l4.313,4.403l-1.483,1.504L5.897,7.46l-4.313,4.402 l-1.482-1.504l4.313-4.403L0.102,1.552L1.562,0.046z'/%3E%3C/svg%3E");
    // }
    background-position: -1em -1em;

    .icon-close {
      // display: block;
      opacity: 1;
    }

  }

  // Now hide the toggle button as menu show by default
  @media (min-width: $responsive-nav-breakpoint) {
    display: none;
  }

}

.logo-wrap {
  @media (max-width: $responsive-nav-breakpoint) {
    display: inline-block;
  }
}
