table {
  border-radius: $border-radius;
  overflow: hidden;
}

td, th {
  padding: $spacing-medium;
}

th:not(:first-child), td:not(:first-child) {
  text-align: right;
}

th {
  color: $grey-3;
  font-weight: 700;
  white-space: nowrap;
   {
    white-space: wrap;
  }
}

tr th {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: $grey-1;
}
