<div class="center mb3 ph3">
  <blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
    <p class="f4 mb0">“{{ page.testimonials.quote1 }}”</p>
    <cite class="tr db grey-3">{{ page.testimonials.author1 }}</cite>
  </blockquote>
  <blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
    <p class="f4 mb0">“{{ page.testimonials.quote2 }}”</p>
    <cite class="tr db grey-3">{{ page.testimonials.author2 }}</cite>
  </blockquote>
</div>
